# ignore all files in bin directory
*/bin/
# ignore all files in obj directory
*/obj/
# ignore all files in Properties directory
*/Properties/
# other individual files to ignore
*.user
*.sln
*.suo
*.pfx
*.snk
*/.DS_Store
.DS_Store
# also ignore .gitignore itself
.gitignore
