# ignore all files in bin directory
*/bin/
# ignore all files in obj directory
*/obj/
# ignore all files in Properties directory
*/Properties/
# other individual files to ignore
*/App.*
*.csproj
*.user
*.sln
*.suo
*.pfx
*.snk
# also ignore .gitignore itself
.gitignore
