<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RTLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RTLibrary.Properties.Settings>
            <setting name="LastFolderRWNL" serializeAs="String">
                <value>/</value>
            </setting>
            <setting name="LastFolderBDF" serializeAs="String">
                <value>/</value>
            </setting>
            <setting name="LastFolderETR" serializeAs="String">
                <value>/</value>
            </setting>
        </RTLibrary.Properties.Settings>
    </userSettings>
</configuration>